.initial {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initialContainer{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 350px;
    height: 350px;
}

.linkCreate {
    width: 100%;
    display: flex;
    justify-content: center;
}

.linkCreate div {
    margin-top: 32px;
    text-decoration: none;
    font-size: 15px;
}