{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },

    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "quotes": ["error", "single"],
        // we want to force semicolons
        "semi": ["error", "always"],
        // we use 2 spaces to indent our code
        "indent": ["error", 2],
        // we want to avoid extraneous spaces
        "no-multi-spaces": ["error"],
        "no-unused-vars": ["error"],
        "no-unused-labels": ["error"],
        "@typescript-eslint/no-var-requires" : 0,
        "@typescript-eslint/no-explicit-any": 0
    }
}